/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  /* Container styling */
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: mistyrose;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Heading styling */
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Form styling */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Table styling */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }
  
  th {
    background-color:grey;
    font-weight: bold;
  }
  
  /* Button styling */
  .action-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .action-btn:hover {
    background-color: #45a049;
  }
  
  /* Error message styling */
  .error-message {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  /* Button styling */
.edit-btn {
  padding: 5px 10px;
  background-color: #FF0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.edit-btn:hover {
  background-color: #FF3333;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #FF0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #FF3333;
}
